@import url("variables.css");

body {
  & section {
    & div.building-data {
      & img {
        display: block;
        width: 100% !important;
        height: 100% !important;
      }

      & table {
        max-width: 540px;

        & tbody tr td.name {
          font-weight: 500;
        }
      }
    }
  }
}
